@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1px;
  background-color: #eeeeee;
}




img {
  width: 600px;
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}

/* All list items on page will have no bullet points */
body ul {
  list-style-type: none;
  display: flex;
  padding: 0px;
}

/* Remove underline from links in all of page's body
Remove link color changes as well */

body a {
  text-decoration: none;
  color: inherit;
}

.left-links li {
  margin-left: 16px;
}

.right-links li {
  margin-right: 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
